:host::ng-deep.subdivision__dropdown {
    .p-component {
    width: 240px;
    height: 40px;
    }
    }
    
    :host::ng-deep {
    .p-tabview .p-tabview-panels {
    padding: 0;
    }
    }
    
    :host::ng-deep {
    .p-datatable .p-datatable-thead > tr > th {
    background: #FFF;
    }
    }
    
    :host::ng-deep.subdivision__dropdown {
    .p-component {
    width: 240px;
    height: 40px;
    margin-bottom: 30px;
    }
    }
    
    :host ::ng-deep {
    .p-paginator {
    justify-content: flex-start !important;
    margin-top: 10px;
    .p-paginator-pages {
    .p-paginator-page {
    &.p-highlight {
    background: #2196F3;
    border-color: #2196F3;
    color: white;
    }
    }
    }
    .p-paginator-first,
    .p-paginator-last {
    display: none;
    }
    .p-paginator-prev {
    color: #2196F3;
    &:not(.p-disabled):not(.p-highlight):hover {
    color: #2196F3;
    background: white;
    }
    span {
    &::before {
    content: '\e900';
    }
    &::after {
    content: 'Назад';
    margin: 0 13px;
    }
    }
    }
    .p-paginator-next {
    color: #2196F3;
    &:not(.p-disabled):not(.p-highlight):hover {
    color: #2196F3;
    background: white;
    }
    span {
    &::before {
    content: 'Вперед';
    margin: 0 13px;
    }
    &::after {
    content: '\e901';
    margin-right: 10px;
    }
    }
    }
    }
    }
    
    .dropdown__title {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    }
    
    .dropdown__title {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    }
    
    .container {
    display: flex;
    }
    
    .info__container {
    margin-top: -67px;
    padding: 20px 15px;
    width: 715px;
    height: 320px;
    box-shadow: 0px 2px 4px -1px #0000001f;
    border-radius: 10px;
    border: 1px solid #E1E3E8;
    }
    
    .basic__info {
    width: 685pxpx;
    height: 224px;
    background: #F5F6F8;
    }
    
    .subdivision__table {
    width: 738px;
    margin-right: 159px;
    }
    
    .date__th {
    width: 130px;
    }
    
    .date__td {
    width: 130px;
    }
    
    .number__th {
    width: 47px;
    }
    
    .name__th {
    width: 144px;
    }
    
    .subdivision__th {
    width: 546px;
    }
    