@import "../../../../../../../styles/variables/colors";

::ng-deep.overflow-hidden {
  overflow: hidden;
}

.document {
  &__controls {
    display: flex;
    gap: 16px;
  }

  &__template-menu {
    list-style: none;
    padding: 0;

    li {
      padding: 5px 24px;

      &:hover {
        background: $primary-color;
        color: white;
        cursor: pointer;
      }
    }
  }
}
