<div class='modal-container' [appLoader]="loaderService.isLoading$">
  <p-tabView>
    <p-tabPanel header="Сведения">
      <ng-template #tabContent></ng-template>
    </p-tabPanel>
    <p-tabPanel header="Параметры">
      <ng-template #tabContent></ng-template>
    </p-tabPanel>
    <p-tabPanel header="Точки трассы">
      <ng-template #tabContent></ng-template>
    </p-tabPanel>
    <p-tabPanel header="Отчёт">
      <ng-template #tabContent></ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
