.header {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #252b34;
    margin: 10px 0;
}

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #252b34;
    margin: 10px 0;
}

.message {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #484f59;
    margin: 10px 0;
}

.container {
    width: 952px;
}
