:host::ng-deep .p-button-text {
  width: 124px;
  height: 40px;
}

.node__input {
  margin-top: 4px;
  padding: 8px 8px 8px 16px;
  width: 451px;
  height: 40px;
  outline: none;
  border: 1px solid #c7cdd3;
  border-radius: 4px;
}
.node__input:hover {
  border: 1px solid #228be6;
}

.node__input:focus {
  border: 1px solid #228be6;
}
.checkbox__wrapper {
  margin-top: 10px;
}

.checkbox__label {
  margin-left: 10px;
}

.buttons__wrapper {
  margin-top: 32px;
}

.save {
  width: 124px;
  height: 40px;
}
