:host ::ng-deep {

  .loading-block{
    text-align: center;
  }

  .user-info {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .user-info-name-text {
    width: 180px;
    height: 26px;
    left: 0px;
    top: 0px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #68737F;
  }

  .user-info-value-text {
    height: 26px;
    top: 0px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }

  .title {
    position: static;
    width: 100%;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
  }

  .centered {
    text-align: center !important;
  }

  .have-access {
    background-color: #82c91e;
    text-align: center;
    width: 120px;
    color: white;
    border-radius: 4px;
  }

  .dont-have-access {
    background-color: #fa5252;
    color: white;
    text-align: center;
    width: 120px;
    border-radius: 4px;
  }

}
