:host {
  width: 100%;

  .--longitude,
  .--latitude {
    flex: 0 1 48%;

    .custom-label {
      display: block;
      margin-bottom: 8px;
    }
  }

  .degrees-wrapper,
  .minutes-wrapper,
  .seconds-wrapper {
    flex: 0 1 18%;
  }

  ::ng-deep {
    app-btn-set-coordinates {
      align-self: flex-end;
    }

    .btn-cancel {
      width: 100%;
      flex: 0 1 calc(33.3% - 11px);
    }

    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: translateY(-15%);

    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 5px !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      top: 0.15em;
    }
  }
}

.form__coordinates {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
  flex-wrap: wrap;
  width: 100%;

  &-title {
    color: #252B34;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.field-title {
  margin-top: 0;
}

::ng-deep .select__coordinates {
  position: absolute !important;
  top: 15px !important;
  transition: all 0.3s;

  .dialog-item-hidden {
    display: none !important;
  }

  .form__coordinates {
    flex-wrap: wrap;

    &-title {
      flex: 0 1 100%;
    }

    .coordinates__wrapper,
    app-btn-cancel {
      flex: 0 1 calc(22.3% - 11px);
      align-self: flex-end;
    }

    .coordinates__wrapper.--latitude,
    .coordinates__wrapper.--longitude {
      flex: 0 1 48%;
    }
  }

  .container {
    min-height: 100px !important;
  }
}

:host ::ng-deep .btn-set-coordinates {
  align-self: flex-end;
  padding: 1px 0;
}

.form__infection-select {
  margin-top: auto;
  width: 60px;
}

.degrees-coordinates-wrapper,
.epsg3857-coordinates-wrapper {
  display: none;
  width: 471px;
  flex-wrap: wrap;
  justify-content: space-between;

  &.active-mode {
    display: flex;
  }
}

.custom-input.degrees {
  margin-top: 8px;
}

.degrees-longitude--wrapper,
.degrees-latitude--wrapper {
  display: flex;
  justify-content: space-between;
}

.degrees-latitude--wrapper {
  margin-bottom: 8px;
  width: 100%;
}

.degrees-longitude--wrapper {
  width: 100%;
}

.coordinates__wrapper {
  mat-form-field {
    width: 100%;
  }
}

.buttons-wrapper {
  margin-top: 26px;
}

.coordinates__wrapper.degrees-wrapper,
.coordinates__wrapper.minutes-wrapper,
.coordinates__wrapper.seconds-wrapper {
  width: 95px;
}

.degrees-disabled-coordinate {
  padding: 10px 12px 7px;
  border-radius: 4px;
  border: 1px solid #E1E3E8;
}

.title {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #252B34;
}

.coordinates-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.button-coordinates {
  margin-top: 15px;
  margin-left: 20px;
}
