<div class="row">
    <div class="row__plan">
        Запланированное время
    </div>
    <div class="row__time">
        {{config?.data?.time}}
    </div>
</div>
<div class="column">
    <p-radioButton
        name="groupname"
        value="done"
        label="Выполнено вовремя"
        [(ngModel)]="selectedValue"
    ></p-radioButton>
    <p-radioButton
        name="groupname"
        value="outrunning"
        label="Выполнено с опережением"
        [(ngModel)]="selectedValue"
    >
    </p-radioButton>
    <p-radioButton
        name="groupname"
        value="late"
        label="Выполнено с опозданием "
        [(ngModel)]="selectedValue"
    >
    </p-radioButton>
</div>
<app-choose-time
    *ngIf="selectedValue === 'late' || selectedValue === 'outrunning'"
    (timeChange)='setTime($event)'
    [timeStr]='"Время Ч+"'
    [initConfig]='initConfig'
></app-choose-time>
<div class="coment">
    <div class="coment__text">
        Комментарий
    </div>
    <textarea
        class="coment__area"
        pInputTextarea
        [(ngModel)]="coment"
    ></textarea>
</div>
<button
    pButton
    type="button"
    label="Выполнено"
    (click)="doneEvent()"
></button>