.wrapper {
    display: flex;
    height: 700px;
}

.landing_tasks {
    width: 250px;
    height: 336px;
}

p-tabview {
    width: 900px;
}

.p-dialog {
    max-height: 100%;
}

.buttons__wrapper > button {
    margin-right: 10px;
}
