:host { display: contents; }

.canvas {
  flex: 1;
  user-select: none;
  height: 70vh;
}

.controls {
  position: absolute;
  display: flex;

  &--right {
    right: 0;
    padding-right: 32px;
  }

  &--middle {
    flex-direction: column;
    right: 0;
    padding-right: 32px;
    padding-top: 32px;
    top: 50%;
  }
}

.button {
  margin: 8px 0 0 8px;
  width: 40px;
  height: 40px;
  background: #FEFEFE;
  color: black;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  transition: .3s;
  opacity: 0.6;
  cursor: pointer;

  &_icon {
    width: 20px;
  }

  &:hover {
    opacity: 1;
  }
}

.selected {
  background: #FFFFFF;
  opacity: 1;
  transform: scale(1.1);
}

.pulse {
  animation: pulse 1.5s ease-in-out 0s infinite alternate;
}

@keyframes pulse {

  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    color: #22B8CF;
  }

}
