<router-outlet></router-outlet>
<!--<app-desant-events-main *ngIf="showMain"-->
<!--                        (emitShowNewEventPage)="showNewEventPage($event)"-->
<!--                        (emitChangeEventPage)="changeEventPage($event)"-->
<!--&gt;</app-desant-events-main>-->

<!--<app-desant-new-event *ngIf="!showMain"-->
<!--                      (emitShowMain)="showMainPage()"-->
<!--                      [changeEventInformation]=changeEventInfo-->
<!--                      [newEvent]="newEventInfo"-->
<!--                      [selected_military_unit] = selectedMilitaryUnit-->

<!--&gt;</app-desant-new-event>-->
