<ng-container *ngFor='let item of _data'>
  <div
    (click)='$event.stopPropagation(); selectionChanged(item)'
    *ngIf='_sidebarExpanded else folded'>
    <div
      class='folder'
      *ngIf='item.expanded'>
      <div class='folder_background'>
        <div *ngFor='let level of _deepLevel' class='folder_dot'></div>
      </div>
      <div [ngClass]='{ selected: selectedItem?.uuid === item.uuid }' class='content'>
        <div class='content_description'>
          <button *ngIf='item.children?.length' (click)='$event.stopPropagation(); toggleExpanding(item)'
                  class='expand-button'>
            <i class='pi {{isChildExpanded(item) ? "pi-angle-down" : "pi-angle-right"}}'></i>
          </button>
          <div class='content_name'>{{item.call_sign}}</div>
          <div class='content_formation'>[{{item.military_unit.label || item.military_unit}}]</div>
        </div>
        <div *ngIf='item.security && item.staffing' class='content_info'>
          <div>O: {{item.security}}%</div>
          <div>У: {{item.staffing}}%</div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #folded>
    <div [ngClass]='{ folded_selected: selectedItem?.uuid === item.uuid }' *ngIf='item.expanded' (click)='$event.stopPropagation(); selectionChanged(item)' class='folded'>
      <div class='folded_content'>
        <div class='content'>
          <div class='content_description'>
            <span class='content_name'>{{item.call_sign}}</span>
            <span class='content_formation'>[{{item.military_unit}}]</span>
          </div>
          <div *ngIf='item.security && item.staffing' class='content_info'>
            <div>O: {{item.security}}%</div>
            <div>У: {{item.staffing}}%</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <app-hierarchy-folder
    [selectedItem]='selectedItem'
    *ngIf='item.children'
    [sidebarExpanded]='_sidebarExpanded'
    [data]='item?.children'
    [deepLevel]='_deepLevel'
  ></app-hierarchy-folder>
</ng-container>

