.logo {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #252b34;
}

.text {
    font-size: 14px;
    line-height: 20px;
    color: #252b34;
}

.status {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    border-radius: 4px;
}
