:host::ng-deep .container {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(21, 22, 23, 0.25);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track-piece {
    background: #1516170b;
  }
}

p-tree {
  width: 200px;
}

.container {
  overflow-y: auto;
  max-height: 380px;
}

.save_button {
  margin-top: 20px;
}
