:host ::ng-deep {
    p-calendar {
        margin: 0 10px;
    }
}

// :host ::ng-deep {
//     tr {
//         background: white;
//     }
// }

.container {
    width: 1000px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-space-between {
    justify-content: space-between;
}

.input {
    width: 250px;
    height: 36px;
    border: 1px solid #c7cdd3;
    border-radius: 4px;
}

.checkbox {
    width: 48px;
    height: 48px;
}

.number {
    width: 68px;
    height: 48px;
}

.list {
    width: 300px;
    height: 48px;
}

.status {
    width: 148px;
    height: 48px;
}

.made {
    width: 132px;
    height: 48px;
}

.date {
    width: 120px;
    height: 48px;
}

.btn {
    width: 48px;
    height: 48px;
}

.blue {
    background: #1971c2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.green {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: white;
    background: #82c91e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.end {
    justify-content: flex-end;
}

.small-container {
    margin-bottom: 10px;
}

.cancel-btn {
    color: #959ea9;
    cursor: pointer;
}

.add-btn {
    width: 160px;
    height: 40px;
    background: #228be6;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.status-data {
    width: 120px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    background: #5c7cfa;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}

.reported {
    background: #82c91e;
}

i {
    margin-right: 3px;
}