.sidebar-menu {
  margin-top: -28px;
  &__header {
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__page-list {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a, div {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 18px 0 18px 24px;
        font-size: 14px;
        color: black;
        text-decoration: none;
        cursor: pointer;
        img {
          width: 16px;
          height: 20px;
          margin-right: 20px;
        }
        i {
          font-size: 18px;
          margin-right: 20px;
        }
        border-left: 4px solid #82C91E;
        &:hover {
          background: rgba(116, 192, 252, 0.5);;
        }
      }
    }
    &.ospos {
      li {
        a, div {
          border: none;
        }
      }
    }
  }
}

.page-list {
  &__item {
    &-active {
      font-weight: bold;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #E1E3E8;
  margin: 8px 0;
}

