.form {
  display: flex;
  flex-direction: column;
}

.title {
  color: #68737F;
  font-size: 14px;
  margin-bottom: 8px;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.reason {
  margin: 4px;
}

.controls {
  margin-top: 12px;

  &_button {
    margin-right: 24px;
  }
}

::ng-deep {
  .p-dialog .p-dialog-content {
    overflow: visible;
  }
}
