.container {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.border {
    border-bottom: 1px dotted#E1E3E8;
    width: 100%;
    height: 0;
}

.text {
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #68737f;
}

.logo {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #252b34;
}
